html, body{
  height: 100%;
}

body {
  margin: 0px;
  background: #0e0e0e;
  text-align: center;
}

#myTable, #showData {
  color: #03A062;
  background-color: #0e0e0e;
  width: 1550px;
  margin: auto;
}