html, body {
  height: 100%;
}

body {
  margin: 0px;
  background: #0e0e0e;
  text-align: center;
}

table {
  color: #03A062;
  background-color: #0e0e0e;
  width: 1550px;
  margin: auto;
}

img {
  width: 1550;
  height: 969;
}