<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/3122.css">
    <script type="text/javascript" src="../static/js/3122.js" defer></script>
    <title>3122</title>
  </head>
  <body>
    Brandon Lomax
    <p id="showData"></p>
    <a href="https://ibb.co/Zm4qx6z"><img src="https://i.ibb.co/tXjVDMp/FB-IMG-1598224374611.jpg" alt="FB-IMG-1598224374611" border="0"></a>
  </body>
</html>