<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/ext.css">
    <link rel="stylesheet" href="../static/css/3509.css">
    <script type="text/javascript" src="../static/js/3509.js" defer></script>
    <script type="text/javascript" src="../static/js/ext.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Sara Minerva-Reynolds / 3905</title>
  </head>
  <body>
    <h1 class="header">Charlotte Breweries!!</h1>
    <div class="container">
      <p id="showData">Sara Minerva-Reynolds</p>
    </div>
  </body>
  <footer class="footer">Join the Foodies</footer>
</html>